
.cmbforms {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	color: #000066;

}


/*Estilo Objeyos */

.cssobj {
	font-family: Arial, Helvetica;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
}
